::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #060602;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

main {
  width: 100%;
}
main > header {
  width: 100%;
  padding: 80px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9ff36;
}
main > header > div,
main > header > a {
  width: 15%;
  display: flex;
}
main > header div {
  justify-self: flex-end;
  position: relative;
}
main > header div::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #060602;
  position: absolute;
  transform: rotate(25deg) translate(90px, -80px);
}
main > header nav {
  width: 70%;
  text-transform: uppercase;
  font-family: "Sofia Sans", sans-serif;
}
main > header nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 90px;
}
main > header nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > header nav > ul > li:not(:nth-of-type(4)) > a::before {
  content: "";
  width: 0%;
  height: 0.5px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #060602;
  transition: 0.2s ease;
}
main > header nav > ul > li:not(:nth-of-type(4)) > a:hover::before {
  width: 100%;
}
main > header nav > ul > li > a {
  color: black;
  font-weight: 350;
  letter-spacing: 1.5px;
  position: relative;
}
main > header > a {
  justify-self: flex-start;
  position: relative;
}
main > header > a > figure {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main > header > a > figure > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px !important;
}
main > header > a > figure > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 15s linear infinite;
  transition: 1s linear;
  transform-origin: 50% 50%;
}
main > header > a > figure > img:hover {
  animation: spinHover 500ms ease-out;
}
main > .hero {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9ff36;
}
main > .hero > h2 {
  font-family: "Noto Sans Gothic", sans-serif;
  font-size: 140px;
  font-weight: bolder;
  text-transform: uppercase;
}
main > .hero > h2:first-of-type {
  order: 1;
}
main > .hero > h2:first-of-type:hover ~ div > img:nth-of-type(4) {
  transform: rotate(-10deg);
}
main > .hero > h2:first-of-type:hover ~ div > img:nth-of-type(3) {
  transform: rotate(0deg);
}
main > .hero > h2:last-of-type {
  order: 3;
}
main > .hero > h2:last-of-type:hover ~ div > img:nth-of-type(4) {
  transform: rotate(-50deg);
}
main > .hero > h2:last-of-type:hover ~ div > img:nth-of-type(3) {
  transform: rotate(-40deg);
}
main > .hero > div {
  order: 2;
  position: relative;
  width: 370px;
  height: 370px;
  margin: 0 90px;
}
main > .hero > div > img {
  transition: 0.5s ease;
}
main > .hero > div > * {
  position: absolute;
}
main > .hero > div > img:nth-of-type(4) {
  transform: rotate(-30deg);
}
main > .hero > div > img:nth-of-type(3) {
  transform: rotate(-20deg);
}
main > section:first-of-type {
  width: 100%;
  background-color: #a9ff36;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main > section:first-of-type > div {
  margin: 84px auto 0;
  width: 1090px;
  display: flex;
  justify-content: space-between;
}
main > section:first-of-type > div:first-of-type > div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
main > section:first-of-type > div:first-of-type > div:first-of-type > p {
  font-size: 22px;
  margin: 0 0 0px 60px;
  font-weight: 100;
  font-family: "Gudea", sans-serif;
  line-height: 35px;
}
main > section:first-of-type > div:first-of-type > div:first-of-type::before {
  position: absolute;
  content: "";
  width: 24px;
  display: block;
  height: 2px;
  top: 17px;
  background-color: #060602;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a {
  text-align: center;
  background-color: transparent;
  height: 80px;
  border: 1px solid #060602;
  position: relative;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 1px;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a::after {
  content: "";
  position: absolute;
  background-color: #060602;
  z-index: -1;
  top: 0;
  height: 100%;
  transition: 0.4s;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:first-of-type {
  width: 264px;
  padding: 27px 48px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Gudea", sans-serif;
  color: white;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:first-of-type::after {
  right: 0;
  width: 100%;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:first-of-type:hover {
  color: black;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:first-of-type:hover::after {
  width: 0;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:last-of-type {
  width: 80px;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:last-of-type > img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  vertical-align: middle;
  display: inline-block;
  transition: 0.2s;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:last-of-type::after {
  left: 0;
  width: 0;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:last-of-type:hover {
  color: white;
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:last-of-type:hover > img {
  filter: invert(100%);
}
main > section:first-of-type > div:first-of-type > div:last-of-type > a:last-of-type:hover::after {
  width: 100%;
}
main > section:first-of-type > div:last-of-type {
  margin-bottom: 200px;
}
main > section:first-of-type > div:last-of-type > div:first-of-type {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
main > section:first-of-type > div:last-of-type > div:first-of-type > figure {
  width: 365px;
}
main > section:first-of-type > div:last-of-type > div:first-of-type > figure > img {
  width: 100%;
}
main > section:first-of-type > div:last-of-type > div:first-of-type > h3 {
  position: absolute;
  left: 0;
  top: 50px;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  line-height: 50px;
}
main > section:first-of-type > div:last-of-type > div:first-of-type > h3 > span {
  margin-left: 51px;
  display: flex;
  position: relative;
}
main > section:first-of-type > div:last-of-type > div:first-of-type > h3 > span:last-of-type::before {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #060602;
  position: absolute;
  left: -50px;
  top: 50%;
}
main > section:first-of-type > div:last-of-type > div:last-of-type {
  display: flex;
  justify-content: space-between;
}
main > section:first-of-type > div:last-of-type > div:last-of-type > div {
  display: flex;
  flex-direction: column;
}
main > section:first-of-type > div:last-of-type > div:last-of-type > div > p {
  margin-top: 16px;
  font-family: "Gudea", sans-serif;
  font-size: 14px;
}
main > section:first-of-type > div:last-of-type > div:last-of-type > figure {
  margin-top: 40px;
  width: 80px;
}
main > section:first-of-type > div:last-of-type > div:last-of-type > figure > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main > section:first-of-type > div > div:first-of-type {
  width: 550px;
}
main > section:first-of-type > div > div:last-of-type {
  width: 380px;
}
main > section:first-of-type > a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 112px;
  height: 112px;
  background-image: url(../img/bottom-arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  background-color: #fff;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spinHover {
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}/*# sourceMappingURL=master.css.map */