::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #060602;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

main {
  width: 100%;
}
main > header {
  width: 100%;
  padding: 80px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9ff36;
}
main > header > div,
main > header > a {
  width: 15%;
  display: flex;
}
main > header div {
  justify-self: flex-end;
  position: relative;
}
main > header div::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #060602;
  position: absolute;
  transform: rotate(25deg) translate(90px, -80px);
}
main > header nav {
  width: 70%;
  text-transform: uppercase;
  font-family: "Sofia Sans", sans-serif;
}
main > header nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 90px;
}
main > header nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > header nav > ul > li:not(:nth-of-type(4)) > a::before {
  content: "";
  width: 0%;
  height: 0.5px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #060602;
  transition: 0.2s ease;
}
main > header nav > ul > li:not(:nth-of-type(4)) > a:hover::before {
  width: 100%;
}
main > header nav > ul > li > a {
  color: black;
  font-weight: 350;
  letter-spacing: 1.5px;
  position: relative;
}
main > header > a {
  justify-self: flex-start;
  position: relative;
}
main > header > a > figure {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main > header > a > figure > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px !important;
}
main > header > a > figure > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 15s linear infinite;
  transition: 1s linear;
  transform-origin: 50% 50%;
}
main > header > a > figure > img:hover {
  animation: spinHover 500ms ease-out;
}
main > .hero {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9ff36;
}
main > .hero > h2 {
  font-family: "Noto Sans Gothic", sans-serif;
  font-size: 140px;
  font-weight: bolder;
  text-transform: uppercase;
}
main > .hero > h2:first-of-type {
  order: 1;
}
main > .hero > h2:first-of-type:hover ~ div > img:nth-of-type(4) {
  transform: rotate(-10deg);
}
main > .hero > h2:first-of-type:hover ~ div > img:nth-of-type(3) {
  transform: rotate(0deg);
}
main > .hero > h2:last-of-type {
  order: 3;
}
main > .hero > h2:last-of-type:hover ~ div > img:nth-of-type(4) {
  transform: rotate(-50deg);
}
main > .hero > h2:last-of-type:hover ~ div > img:nth-of-type(3) {
  transform: rotate(-40deg);
}
main > .hero > div {
  order: 2;
  position: relative;
  width: 370px;
  height: 370px;
  margin: 0 90px;
}
main > .hero > div > img {
  transition: 0.5s ease;
}
main > .hero > div > * {
  position: absolute;
}
main > .hero > div > img:nth-of-type(4) {
  transform: rotate(-30deg);
}
main > .hero > div > img:nth-of-type(3) {
  transform: rotate(-20deg);
}
main > section:nth-of-type(1) {
  width: 100%;
  background-color: #a9ff36;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main > section:nth-of-type(1) > div {
  margin: 84px auto 0;
  width: 1090px;
  display: flex;
  justify-content: space-between;
}
main > section:nth-of-type(1) > div:first-of-type > div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
main > section:nth-of-type(1) > div:first-of-type > div:first-of-type > p {
  font-size: 22px;
  margin: 0 0 0px 60px;
  font-weight: 100;
  font-family: "Gudea", sans-serif;
  line-height: 35px;
}
main > section:nth-of-type(1) > div:first-of-type > div:first-of-type::before {
  position: absolute;
  content: "";
  width: 24px;
  display: block;
  height: 2px;
  top: 17px;
  background-color: #060602;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a {
  text-align: center;
  background-color: transparent;
  height: 80px;
  border: 1px solid #060602;
  position: relative;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 1px;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a::after {
  content: "";
  position: absolute;
  background-color: #060602;
  z-index: -1;
  top: 0;
  height: 100%;
  transition: 0.4s;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:first-of-type {
  width: 264px;
  padding: 27px 48px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Gudea", sans-serif;
  color: white;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:first-of-type::after {
  right: 0;
  width: 100%;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:first-of-type:hover {
  color: black;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:first-of-type:hover::after {
  width: 0;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:last-of-type {
  width: 80px;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:last-of-type > img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  vertical-align: middle;
  display: inline-block;
  transition: 0.2s;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:last-of-type::after {
  left: 0;
  width: 0;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:last-of-type:hover {
  color: white;
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:last-of-type:hover > img {
  filter: invert(100%);
}
main > section:nth-of-type(1) > div:first-of-type > div:last-of-type > a:last-of-type:hover::after {
  width: 100%;
}
main > section:nth-of-type(1) > div:last-of-type {
  margin-bottom: 200px;
}
main > section:nth-of-type(1) > div:last-of-type > div:first-of-type {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
main > section:nth-of-type(1) > div:last-of-type > div:first-of-type > figure {
  width: 365px;
}
main > section:nth-of-type(1) > div:last-of-type > div:first-of-type > figure > img {
  width: 100%;
}
main > section:nth-of-type(1) > div:last-of-type > div:first-of-type > h3 {
  position: absolute;
  left: 0;
  top: 50px;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  line-height: 50px;
}
main > section:nth-of-type(1) > div:last-of-type > div:first-of-type > h3 > span {
  margin-left: 51px;
  display: flex;
  position: relative;
}
main > section:nth-of-type(1) > div:last-of-type > div:first-of-type > h3 > span:last-of-type::before {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #060602;
  position: absolute;
  left: -50px;
  top: 50%;
}
main > section:nth-of-type(1) > div:last-of-type > div:last-of-type {
  display: flex;
  justify-content: space-between;
}
main > section:nth-of-type(1) > div:last-of-type > div:last-of-type > div {
  display: flex;
  flex-direction: column;
}
main > section:nth-of-type(1) > div:last-of-type > div:last-of-type > div > p {
  margin-top: 16px;
  font-family: "Gudea", sans-serif;
  font-size: 14px;
}
main > section:nth-of-type(1) > div:last-of-type > div:last-of-type > figure {
  margin-top: 40px;
  width: 80px;
}
main > section:nth-of-type(1) > div:last-of-type > div:last-of-type > figure > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main > section:nth-of-type(1) > div > div:first-of-type {
  width: 550px;
}
main > section:nth-of-type(1) > div > div:last-of-type {
  width: 380px;
}
main > section:nth-of-type(1) > a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 112px;
  height: 112px;
  background-image: url(../img/bottom-arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  background-color: #fff;
}
main > section:nth-of-type(2) {
  padding: 160px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
main > section:nth-of-type(2) > * {
  width: 1130px;
  margin: 0 auto;
}
main > section:nth-of-type(2) > h2 {
  font-size: 95px;
  font-family: "Gudea", sans-serif;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 105px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
main > section:nth-of-type(2) > h2 > span {
  font-family: "Noto Sans Gothic", sans-serif;
  font-size: 16px;
  position: absolute;
  font-weight: 300;
  top: -27px;
  left: 43px;
}
main > section:nth-of-type(2) > div {
  display: flex;
  justify-content: space-between;
}
main > section:nth-of-type(2) > div > ul {
  width: 350px;
  height: 450px;
  margin-top: 30px;
}
main > section:nth-of-type(2) > div > ul > li {
  font-family: "Gudea", sans-serif;
  line-height: 28px;
  margin-bottom: 24px;
  position: relative;
  margin-bottom: 10px;
}
main > section:nth-of-type(2) > div > ul > li > h4,
main > section:nth-of-type(2) > div > ul > li > p {
  margin-bottom: 10px;
}
main > section:nth-of-type(2) > div > ul > li > h4 {
  font-weight: 200;
  font-size: 22px;
  text-transform: uppercase;
}
main > section:nth-of-type(2) > div > ul > li > p {
  overflow: hidden;
  height: 0;
  font-size: 16px;
}
main > section:nth-of-type(2) > div > ul > li > span {
  width: 24px;
  height: 2px;
  position: absolute;
  left: -100px;
  top: 9px;
  background-color: #060602;
}
main > section:nth-of-type(2) > div > ul > li:nth-of-type(1) > p {
  animation: graphp1 15s linear infinite;
}
main > section:nth-of-type(2) > div > ul > li:nth-of-type(1) > span {
  animation: graphspan1 15s linear infinite;
}
main > section:nth-of-type(2) > div > ul > li:nth-of-type(2) > p {
  animation: graphp2 15s linear infinite;
}
main > section:nth-of-type(2) > div > ul > li:nth-of-type(2) > span {
  animation: graphspan2 15s linear infinite;
}
main > section:nth-of-type(2) > div > ul > li:nth-of-type(3) > p {
  animation: graphp3 15s linear infinite;
}
main > section:nth-of-type(2) > div > ul > li:nth-of-type(3) > span {
  animation: graphspan3 15s linear infinite;
}
main > section:nth-of-type(2) > div > figure {
  position: relative;
  width: 625px;
  margin-right: -60px;
  background-color: #a9ff36;
}
main > section:nth-of-type(2) > div > figure > figcaption {
  top: 32px;
  left: 32px;
  font-family: "Noto Sans Gothic", sans-serif;
  background-color: #fff;
  position: absolute;
  color: #060602;
  padding: 20px 32px;
  text-align: center;
  font-size: 16px;
}
main > section:nth-of-type(2) > div > figure > figcaption > span {
  font-size: 40px;
  font-weight: bolder;
}
main > section:nth-of-type(2) > div > figure > img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 0;
  height: 504px;
  animation: imgExtend 15s linear infinite;
  -o-object-position: -10px 50%;
     object-position: -10px 50%;
  opacity: 0;
}
main > section:nth-of-type(3) {
  padding: 160px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}
main > section:nth-of-type(3) > * {
  margin: 0 auto;
}
main > section:nth-of-type(3) > h2 {
  font-size: 95px;
  font-family: "Gudea", sans-serif;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 105px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
main > section:nth-of-type(3) > h2 > span {
  font-family: "Noto Sans Gothic", sans-serif;
  font-size: 16px;
  position: absolute;
  font-weight: 300;
  top: -24px;
  left: 8px;
}
main > section:nth-of-type(3) > div {
  width: 100%;
  display: flex;
  margin-top: 50px;
  overflow: hidden;
}
main > section:nth-of-type(3) > div > div {
  width: 50%;
}
main > section:nth-of-type(3) > div > div:first-of-type {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type {
  display: flex;
  position: relative;
  width: 260px;
  flex-direction: row-reverse;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div {
  width: 260px;
  padding: 32px;
  position: absolute;
  background-color: #a9ff36;
  height: 320px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div > h4 {
  font-family: "Sofia Sans", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 64px;
  font-weight: 400;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div > p {
  font-family: "Gudea", sans-serif;
  color: rgba(6, 6, 2, 0.7);
  font-size: 15px;
  margin-top: -5px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div::before {
  content: "";
  width: 24px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: -24px;
  top: 0;
  z-index: 2;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div:nth-of-type(1) {
  animation: smSlider1 25s linear infinite;
  right: 0;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div:nth-of-type(2) {
  animation: smSlider2 25s linear infinite;
  right: 100%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div:nth-of-type(3) {
  animation: smSlider3 25s linear infinite;
  right: 200%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div:nth-of-type(4) {
  animation: smSlider4 25s linear infinite;
  right: 300%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:first-of-type > div:nth-of-type(5) {
  animation: smSlider5 25s linear infinite;
  right: 400%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type {
  width: 364px;
  display: flex;
  background-color: #a9ff36;
  position: relative;
  overflow: hidden;
  height: 420px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div {
  padding: 32px;
  padding-left: 55px;
  width: 340px;
  position: absolute;
  left: 0;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > h4 {
  font-family: "Sofia Sans", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 45px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > div {
  font-family: "Gudea", sans-serif;
  width: 160px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > div > span {
  display: block;
  margin-bottom: 16px;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > div > p {
  color: rgba(6, 6, 2, 0.7);
  font-size: 15px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > div > p:first-of-type {
  margin-bottom: 40px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > div > p:last-of-type {
  margin-bottom: 10px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div > * {
  width: 340px;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div:nth-of-type(1) {
  animation: lgSlider1 25s linear infinite;
  left: 0;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div:nth-of-type(2) {
  animation: lgSlider2 25s linear infinite;
  left: 100%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div:nth-of-type(3) {
  animation: lgSlider3 25s linear infinite;
  left: 200%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div:nth-of-type(4) {
  animation: lgSlider4 25s linear infinite;
  left: -200%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type > div:nth-of-type(5) {
  animation: lgSlider5 25s linear infinite;
  left: -100%;
}
main > section:nth-of-type(3) > div > div:first-of-type > div:last-of-type::before {
  content: "";
  width: 24px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 4;
}
main > section:nth-of-type(3) > div > div:first-of-type > span {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: black;
  z-index: 3;
  font-size: 17px;
  font-weight: 700;
  font-family: "Sofia Sans", sans-serif;
}
main > section:nth-of-type(3) > div > div:first-of-type > span::before {
  content: "1";
  animation: number 25s linear infinite;
}
main > section:nth-of-type(3) > div > div:last-of-type {
  padding-left: 160px;
  display: flex;
  flex-direction: column;
}
main > section:nth-of-type(3) > div > div:last-of-type > h3,
main > section:nth-of-type(3) > div > div:last-of-type > a {
  text-transform: uppercase;
  font-family: "Sofia Sans", sans-serif;
  color: #060602;
}
main > section:nth-of-type(3) > div > div:last-of-type > h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1px;
}
main > section:nth-of-type(3) > div > div:last-of-type > h3 > span {
  width: 40px;
  height: 2px;
  background-color: #060602;
  margin-right: 16px;
  display: inline-block;
  transform: translateY(-12px);
}
main > section:nth-of-type(3) > div > div:last-of-type > p {
  color: #060602;
  font-family: "Gudea", sans-serif;
  margin: 20px 0;
  font-size: 16px;
  line-height: 25px;
  padding-left: 56px;
  font-weight: 200;
  width: 370px;
}
main > section:nth-of-type(3) > div > div:last-of-type > p::before {
  content: "";
  width: 24px;
  height: 1px;
  transform: translateY(12px);
  display: block;
  background-color: #060602;
  margin-left: -54px;
}
main > section:nth-of-type(3) > div > div:last-of-type > a {
  box-shadow: inset 0 -10px 0 0 #bfff39;
  font-size: 17px;
  line-height: 24px;
  background-color: transparent;
  font-weight: 500;
  transition: 0.2s;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 56px;
}
main > section:nth-of-type(3) > div > div:last-of-type > a:hover {
  box-shadow: inset 0 -21px 0 0 #bfff39;
}
main > section:nth-of-type(3) > a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 112px;
  height: 112px;
  background-image: url(../img/logo.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  background-color: #fff;
}
main > .brand-band {
  position: relative;
  padding: 80px 20px;
  overflow: hidden;
}
main > .brand-band > div:first-of-type {
  background-image: url(../img/brands.svg);
  background-repeat: repeat-x;
  background-position: 0 50%;
  animation: logoSlider 12000s linear infinite;
  margin: 0 -20px;
  background-size: auto;
  height: 46px;
}
main > .brand-band > div:last-of-type {
  position: absolute;
  overflow: hidden;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 192px;
  height: 192px;
}
main > .brand-band > div:last-of-type > * {
  position: absolute;
  top: 0;
  left: 0;
}
main > .brand-band > div:last-of-type > figure:last-of-type {
  transform: rotate(0deg);
  animation: brandSpin 12000s linear infinite;
}
main > footer {
  width: 100%;
  padding: 80px 20px;
  background-image: linear-gradient(180deg, #bfff39, #a8ff35);
  display: flex;
  flex-direction: column;
}
main > footer > div {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
main > footer > div > div {
  width: 416px;
}
main > footer > div > div > h4 {
  font-family: "Noto Sans Gothic", sans-serif;
  font-size: 26px;
  margin-bottom: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 4px;
  color: #060602;
}
main > footer > div > div > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main > footer > div > div > ul > li {
  margin-bottom: 28px;
}
main > footer > div > div > ul > li > a {
  color: #060602;
  font-family: "Sofia Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
main > footer > div > div > ul > li > a::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #060602;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
main > footer > div > div > div {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
main > footer > div > div > div > input {
  text-transform: uppercase;
  font-family: "Sofia Sans", sans-serif;
  height: 64px;
}
main > footer > div > div > div > input:first-of-type {
  background-color: #fff;
  width: 100%;
  padding: 8px 12px;
  color: #060602;
  padding-left: 18px;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
main > footer > div > div > div > input:first-of-type::-moz-placeholder {
  color: #333;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
main > footer > div > div > div > input:first-of-type::placeholder {
  color: #333;
  transition: 0.2s;
}
main > footer > div > div > div > input:first-of-type:focus {
  outline: none;
}
main > footer > div > div > div > input:first-of-type:focus::-moz-placeholder {
  color: white;
}
main > footer > div > div > div > input:first-of-type:focus::placeholder {
  color: white;
}
main > footer > div > div > div > span {
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  width: 80px;
  border: 1px solid #000;
  margin-left: 16px;
  position: relative;
}
main > footer > div > div > div > span > input {
  cursor: pointer;
  background-color: transparent;
  transform: rotate(-90deg);
  background-image: url(../img/bottom-arrow.svg);
  position: absolute;
  top: 0;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  width: 64px;
  height: 64px;
  border: none;
}
main > footer > div > div > div > span::after {
  content: "";
  transition: 0.2s;
  background-color: black;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main > footer > div > div > div > span:hover > input {
  filter: invert(100%);
}
main > footer > div > div > div > span:hover::after {
  left: 0;
}
main > footer > div > div:first-of-type > ul > li {
  width: 30%;
}
main > footer > div > div:first-of-type > ul > li > a:hover::before {
  width: 100%;
}
main > footer > div > div:nth-of-type(2) > ul > li {
  width: 40%;
}

.logo {
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > p {
  position: absolute;
  top: 150px;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 200;
  color: #060602;
  line-height: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: right;
}
.logo > p > strong {
  transform: translateX(-2px) rotate(-90deg);
  transform-origin: right;
}
.logo > div {
  width: 100%;
  height: 100%;
  background-color: #a9ff36;
  border-radius: 33% 67% 32% 68%/32% 28% 72% 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: format 10s ease-in-out infinite alternate;
}
.logo > div > figure {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.logo > div > figure > img {
  animation: format2 10s ease-in-out infinite alternate;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.logo > div > figure > figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo > div > figure > figcaption > a {
  text-decoration: none;
  color: #a9ff36;
  font-weight: bolder;
  font-size: 18px;
  width: 60px;
  height: 30px;
  transform: translateX(0) translateY(0);
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > div > figure > figcaption > a:nth-of-type(1) {
  transition-delay: 0;
}
.logo > div > figure > figcaption > a:nth-of-type(2) {
  transition-delay: 0.2s;
}
.logo > div > figure > figcaption > a:nth-of-type(3) {
  transition-delay: 0.4s;
}
.logo > div > figure > figcaption > a:nth-of-type(4) {
  transition-delay: 0.6s;
}
.logo > div > figure:hover > figcaption > a {
  transform: translateX(-100px) translateY(0);
  color: #060602;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spinHover {
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@keyframes graphspan1 {
  0%, 34% {
    width: 24px;
  }
  2%, 32% {
    width: 40px;
  }
}
@keyframes graphp1 {
  0%, 34% {
    height: 0px;
  }
  2%, 32% {
    height: 115px;
  }
}
@keyframes graphspan2 {
  0%, 32%, 68% {
    width: 24px;
  }
  34%, 66% {
    width: 40px;
  }
}
@keyframes graphp2 {
  0%, 32%, 68% {
    height: 0px;
  }
  34%, 66% {
    height: 82px;
  }
}
@keyframes graphspan3 {
  0%, 66%, 100% {
    width: 24px;
  }
  68%, 98% {
    width: 40px;
  }
}
@keyframes graphp3 {
  0%, 66%, 100% {
    height: 0px;
  }
  68%, 98% {
    height: 115px;
  }
}
@keyframes imgExtend {
  0% {
    width: 0;
    opacity: 0;
  }
  2%, 32% {
    width: 285px;
    opacity: 1;
  }
  34%, 66% {
    width: 526px;
  }
  68%, 100% {
    width: 625px;
    opacity: 1;
  }
}
@keyframes logoSlider {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: -500000px 50%;
  }
}
@keyframes brandSpin {
  to {
    transform: rotate(180000deg);
  }
}
@keyframes smSlider1 {
  0% {
    right: 0%;
  }
  1% {
    right: -100%;
  }
  1.00000000000001% {
    right: 400%;
  }
  19% {
    right: 400%;
  }
  21% {
    right: 300%;
  }
  39% {
    right: 300%;
  }
  41% {
    right: 200%;
  }
  59% {
    right: 200%;
  }
  61% {
    right: 100%;
  }
  79% {
    right: 100%;
  }
  81% {
    right: 0%;
  }
  100% {
    right: 0%;
  }
}
@keyframes smSlider2 {
  0% {
    right: 100%;
  }
  1% {
    right: 0%;
  }
  19% {
    right: 0%;
  }
  21% {
    right: -100%;
  }
  21.0000000000001% {
    right: 400%;
  }
  39% {
    right: 400%;
  }
  41% {
    right: 300%;
  }
  59% {
    right: 300%;
  }
  61% {
    right: 200%;
  }
  79% {
    right: 200%;
  }
  81% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes smSlider3 {
  0% {
    right: 200%;
  }
  1% {
    right: 100%;
  }
  19% {
    right: 100%;
  }
  21% {
    right: 0%;
  }
  39% {
    right: 0%;
  }
  41% {
    right: -100%;
  }
  41.0000000000001% {
    right: 400%;
  }
  59% {
    right: 400%;
  }
  61% {
    right: 300%;
  }
  79% {
    right: 300%;
  }
  81% {
    right: 200%;
  }
  100% {
    right: 200%;
  }
}
@keyframes smSlider4 {
  0% {
    right: 300%;
  }
  1% {
    right: 200%;
  }
  19% {
    right: 200%;
  }
  21% {
    right: 100%;
  }
  39% {
    right: 100%;
  }
  41% {
    right: 0%;
  }
  59% {
    right: 0%;
  }
  61% {
    right: -100%;
  }
  61.0000000000001% {
    right: 400%;
  }
  79% {
    right: 400%;
  }
  81% {
    right: 300%;
  }
  100% {
    right: 300%;
  }
}
@keyframes smSlider5 {
  0% {
    right: 400%;
  }
  1% {
    right: 300%;
  }
  19% {
    right: 300%;
  }
  21% {
    right: 200%;
  }
  39% {
    right: 200%;
  }
  41% {
    right: 100%;
  }
  59% {
    right: 100%;
  }
  61% {
    right: 0%;
  }
  79% {
    right: 0%;
  }
  81% {
    right: -100%;
  }
  81.0000000000001% {
    right: 400%;
  }
  100% {
    right: 400%;
  }
}
@keyframes lgSlider1 {
  0% {
    left: 0%;
  }
  1% {
    left: 100%;
  }
  1.00000000000001% {
    left: -400%;
  }
  19% {
    left: -400%;
  }
  21% {
    left: -300%;
  }
  39% {
    left: -300%;
  }
  41% {
    left: -200%;
  }
  59% {
    left: -200%;
  }
  61% {
    left: -100%;
  }
  79% {
    left: -100%;
  }
  81% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes lgSlider2 {
  0% {
    left: -400%;
  }
  1% {
    left: -300%;
  }
  19% {
    left: -300%;
  }
  21% {
    left: -200%;
  }
  39% {
    left: -200%;
  }
  41% {
    left: -100%;
  }
  59% {
    left: -100%;
  }
  61% {
    left: 0%;
  }
  79% {
    left: 0%;
  }
  81% {
    left: 100%;
  }
  81.0000000000001% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
@keyframes lgSlider3 {
  0% {
    left: -300%;
  }
  1% {
    left: -200%;
  }
  19% {
    left: -200%;
  }
  21% {
    left: -100%;
  }
  39% {
    left: -100%;
  }
  41% {
    left: 0%;
  }
  59% {
    left: 0%;
  }
  61% {
    left: 100%;
  }
  61.0000000000001% {
    left: -400%;
  }
  79% {
    left: -400%;
  }
  81% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
@keyframes lgSlider4 {
  0% {
    left: -200%;
  }
  1% {
    left: -100%;
  }
  19% {
    left: -100%;
  }
  21% {
    left: 0%;
  }
  39% {
    left: 0%;
  }
  41% {
    left: 100%;
  }
  41.0000000000001% {
    left: -400%;
  }
  59% {
    left: -400%;
  }
  61% {
    left: -300%;
  }
  79% {
    left: -300%;
  }
  81% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
@keyframes lgSlider5 {
  0% {
    left: -100%;
  }
  1% {
    left: 0%;
  }
  19% {
    left: 0%;
  }
  21% {
    left: 100%;
  }
  21.0000000000001% {
    left: -400%;
  }
  39% {
    left: -400%;
  }
  41% {
    left: -300%;
  }
  59% {
    left: -300%;
  }
  61% {
    left: -200%;
  }
  79% {
    left: -200%;
  }
  81% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes number {
  0% {
    content: "1";
  }
  1% {
    content: "2";
  }
  19% {
    content: "2";
  }
  21% {
    content: "3";
  }
  39% {
    content: "3";
  }
  41% {
    content: "4";
  }
  59% {
    content: "4";
  }
  61% {
    content: "5";
  }
  79% {
    content: "5";
  }
  81% {
    content: "1";
  }
  100% {
    content: "1";
  }
}
@keyframes format {
  0% {
    border-radius: 51% 49% 37% 63%/63% 60% 40% 37%;
  }
  25% {
    border-radius: 68% 32% 59% 41%/63% 60% 40% 37%;
  }
  50% {
    border-radius: 49% 51% 69% 31%/40% 50% 50% 60%;
  }
  75% {
    border-radius: 58% 42% 47% 53%/66% 56% 44% 34%;
  }
  100% {
    border-radius: 40% 60% 62% 38%/56% 40% 60% 44%;
  }
}
@keyframes format2 {
  0% {
    border-radius: 52% 48% 41% 59%/35% 40% 60% 65%;
  }
  25% {
    border-radius: 68% 32% 52% 48%/55% 48% 52% 45%;
  }
  50% {
    border-radius: 58% 42% 37% 63%/40% 65% 35% 60%;
  }
  75% {
    border-radius: 45% 55% 55% 45%/58% 48% 52% 42%;
  }
  100% {
    border-radius: 68% 32% 59% 41%/63% 60% 40% 37%;
  }
}/*# sourceMappingURL=master.css.map */