$primaryColor: #a9ff36;
$secondaryColor: #060602;
$primaryFont: "Sofia Sans", sans-serif;
$secondaryFont: "Noto Sans Gothic", sans-serif;
$pfont: "Gudea", sans-serif;
%bt {
  border: 1px solid rebeccapurple;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
main {
  width: 100%;
  > header {
    width: 100%;
    padding: 80px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    > * {
      // @extend %bt;
    }
    > div,
    > a {
      width: 15%;
      display: flex;
    }
    div {
      justify-self: flex-end;
      position: relative;
      &::before {
        content: "";
        width: 40px;
        height: 40px;
        background-color: $secondaryColor;
        position: absolute;
        transform: rotate(25deg) translate(90px, -80px);
      }
    }
    nav {
      width: 70%;
      text-transform: uppercase;
      font-family: $primaryFont;
      > ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 90px;
        > li {
          // height:  30px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:not(:nth-of-type(4)) {
            > a {
              &::before {
                content: "";
                width: 0%;
                height: 0.5px;
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $secondaryColor;
                transition: 0.2s ease;
              }
              &:hover {
                &::before {
                  width: 100%;
                }
              }
            }
          }
          > a {
            color: black;
            font-weight: 350;
            letter-spacing: 1.5px;
            position: relative;
          }
        }
      }
    }
    > a {
      justify-self: flex-start;
      position: relative;
      > figure {
        width: 110px;
        height: 110px;
        // height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
          font-size: 50px !important;
        }
        > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: spin 15s linear infinite;
          transition: 1s linear;
          transform-origin: 50% 50%;
          &:hover {
            animation: spinHover 500ms ease-out;
          }
        }
      }
    }
  }
  > .hero {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    > h2 {
      font-family: $secondaryFont;
      font-size: 140px;
      font-weight: bolder;
      text-transform: uppercase;
      &:first-of-type {
        order: 1;
        &:hover ~ div {
          > img {
            &:nth-of-type(4) {
              transform: rotate(-10deg);
            }
            &:nth-of-type(3) {
              transform: rotate(0deg);
            }
          }
        }
      }
      &:last-of-type {
        order: 3;
        &:hover ~ div {
          > img {
            &:nth-of-type(4) {
              transform: rotate(-50deg);
            }
            &:nth-of-type(3) {
              transform: rotate(-40deg);
            }
          }
        }
      }
    }
    > div {
      order: 2;
      position: relative;
      width: 370px;
      height: 370px;
      margin: 0 90px;
      > img {
        transition: 0.5s ease;
      }
      > * {
        position: absolute;
      }
      > img {
        &:nth-of-type(4) {
          transform: rotate(-30deg);
        }
        &:nth-of-type(3) {
          transform: rotate(-20deg);
        }
      }
    }
  }
  > section {
    &:first-of-type {
      width: 100%;
      background-color: $primaryColor;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      > div {
        margin: 84px auto 0;
        width: 1090px;
        display: flex;
        justify-content: space-between;
        &:first-of-type {
          > div {
            display: flex;
            justify-content: space-between;
            position: relative;
            &:first-of-type {
              > p {
                font-size: 22px;
                margin: 0 0 0px 60px;
                font-weight: 100;
                font-family: $pfont;
                line-height: 35px;
              }
              &::before {
                position: absolute;
                content: "";
                width: 24px;
                display: block;
                height: 2px;
                top: 17px;
                background-color: $secondaryColor;
              }
            }
            &:last-of-type {
              > a {
                text-align: center;
                background-color: transparent;
                height: 80px;
                border: 1px solid $secondaryColor;
                position: relative;
                z-index: 1;
                font-weight: 600;
                letter-spacing: 1px;
                &::after {
                  content: "";
                  position: absolute;
                  background-color: $secondaryColor;
                  z-index: -1;
                  top: 0;
                  height: 100%;
                  transition: 0.4s;
                }
                &:first-of-type {
                  width: 264px;
                  padding: 27px 48px;
                  font-size: 17px;
                  text-transform: uppercase;
                  font-family: $pfont;
                  color: white;
                  &::after {
                    right: 0;
                    width: 100%;
                  }
                  &:hover {
                    color: black;
                    &::after {
                      width: 0;
                    }
                  }
                }
                &:last-of-type {
                  width: 80px;
                  > img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                    vertical-align: middle;
                    display: inline-block;
                    transition: 0.2s;
                  }
                  &::after {
                    left: 0;
                    width: 0;
                  }
                  &:hover {
                    color: white;
                    > img {
                      filter: invert(100%);
                    }
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        &:last-of-type {
          margin-bottom: 200px;
          > div {
            &:first-of-type {
              display: flex;
              position: relative;
              justify-content: flex-end;
              > figure {
                width: 365px;
                > img {
                  width: 100%;
                }
              }
              > h3 {
                position: absolute;
                left: 0;
                top: 50px;
                font-size: 40px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: $pfont;
                font-weight: 400;
                line-height: 50px;
                > span {
                  margin-left: 51px;
                  display: flex;
                  position: relative;
                  &:last-of-type {
                    &::before {
                      content: "";
                      width: 35px;
                      height: 2px;
                      background-color: $secondaryColor;
                      position: absolute;
                      left: -50px;
                      top: 50%;
                    }
                  }
                }
              }
            }
            &:last-of-type {
              display: flex;
              justify-content: space-between;
              > div {
                display: flex;
                flex-direction: column;
                > p {
                  margin-top: 16px;
                  font-family: $pfont;
                  font-size: 14px;
                }
              }
              > figure {
                margin-top: 40px;
                width: 80px;
                > img {
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        > div {
          &:first-of-type {
            width: 550px;
          }
          &:last-of-type {
            width: 380px;
          }
          // @extend %bt;
        }
      }
      > a {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 112px;
        height: 112px;
        background-image: url(../img/bottom-arrow.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.07);
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spinHover {
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
