$primaryColor: #a9ff36;
$secondaryColor: #060602;
$primaryFont: "Sofia Sans", sans-serif;
$secondaryFont: "Noto Sans Gothic", sans-serif;
$pfont: "Gudea", sans-serif;
%bt {
  border: 1px solid rebeccapurple;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
main {
  width: 100%;
  > header {
    width: 100%;
    padding: 80px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    > * {
      // @extend %bt;
    }
    > div,
    > a {
      width: 15%;
      display: flex;
    }
    div {
      justify-self: flex-end;
      position: relative;
      &::before {
        content: "";
        width: 40px;
        height: 40px;
        background-color: $secondaryColor;
        position: absolute;
        transform: rotate(25deg) translate(90px, -80px);
      }
    }
    nav {
      width: 70%;
      text-transform: uppercase;
      font-family: $primaryFont;
      > ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 90px;
        > li {
          // height:  30px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:not(:nth-of-type(4)) {
            > a {
              &::before {
                content: "";
                width: 0%;
                height: 0.5px;
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $secondaryColor;
                transition: 0.2s ease;
              }
              &:hover {
                &::before {
                  width: 100%;
                }
              }
            }
          }
          > a {
            color: black;
            font-weight: 350;
            letter-spacing: 1.5px;
            position: relative;
          }
        }
      }
    }
    > a {
      justify-self: flex-start;
      position: relative;
      > figure {
        width: 110px;
        height: 110px;
        // height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
          font-size: 50px !important;
        }
        > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: spin 15s linear infinite;
          transition: 1s linear;
          transform-origin: 50% 50%;
          &:hover {
            animation: spinHover 500ms ease-out;
          }
        }
      }
    }
  }
  > .hero {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    > h2 {
      font-family: $secondaryFont;
      font-size: 140px;
      font-weight: bolder;
      text-transform: uppercase;
      &:first-of-type {
        order: 1;
        &:hover ~ div {
          > img {
            &:nth-of-type(4) {
              transform: rotate(-10deg);
            }
            &:nth-of-type(3) {
              transform: rotate(0deg);
            }
          }
        }
      }
      &:last-of-type {
        order: 3;
        &:hover ~ div {
          > img {
            &:nth-of-type(4) {
              transform: rotate(-50deg);
            }
            &:nth-of-type(3) {
              transform: rotate(-40deg);
            }
          }
        }
      }
    }
    > div {
      order: 2;
      position: relative;
      width: 370px;
      height: 370px;
      margin: 0 90px;
      > img {
        transition: 0.5s ease;
      }
      > * {
        position: absolute;
      }
      > img {
        &:nth-of-type(4) {
          transform: rotate(-30deg);
        }
        &:nth-of-type(3) {
          transform: rotate(-20deg);
        }
      }
    }
  }
  > section {
    &:nth-of-type(1) {
      width: 100%;
      background-color: $primaryColor;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      > div {
        margin: 84px auto 0;
        width: 1090px;
        display: flex;
        justify-content: space-between;
        &:first-of-type {
          > div {
            display: flex;
            justify-content: space-between;
            position: relative;
            &:first-of-type {
              > p {
                font-size: 22px;
                margin: 0 0 0px 60px;
                font-weight: 100;
                font-family: $pfont;
                line-height: 35px;
              }
              &::before {
                position: absolute;
                content: "";
                width: 24px;
                display: block;
                height: 2px;
                top: 17px;
                background-color: $secondaryColor;
              }
            }
            &:last-of-type {
              > a {
                text-align: center;
                background-color: transparent;
                height: 80px;
                border: 1px solid $secondaryColor;
                position: relative;
                z-index: 1;
                font-weight: 600;
                letter-spacing: 1px;
                &::after {
                  content: "";
                  position: absolute;
                  background-color: $secondaryColor;
                  z-index: -1;
                  top: 0;
                  height: 100%;
                  transition: 0.4s;
                }
                &:first-of-type {
                  width: 264px;
                  padding: 27px 48px;
                  font-size: 17px;
                  text-transform: uppercase;
                  font-family: $pfont;
                  color: white;
                  &::after {
                    right: 0;
                    width: 100%;
                  }
                  &:hover {
                    color: black;
                    &::after {
                      width: 0;
                    }
                  }
                }
                &:last-of-type {
                  width: 80px;
                  > img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                    vertical-align: middle;
                    display: inline-block;
                    transition: 0.2s;
                  }
                  &::after {
                    left: 0;
                    width: 0;
                  }
                  &:hover {
                    color: white;
                    > img {
                      filter: invert(100%);
                    }
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        &:last-of-type {
          margin-bottom: 200px;
          > div {
            &:first-of-type {
              display: flex;
              position: relative;
              justify-content: flex-end;
              > figure {
                width: 365px;
                > img {
                  width: 100%;
                }
              }
              > h3 {
                position: absolute;
                left: 0;
                top: 50px;
                font-size: 40px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: $pfont;
                font-weight: 400;
                line-height: 50px;
                > span {
                  margin-left: 51px;
                  display: flex;
                  position: relative;
                  &:last-of-type {
                    &::before {
                      content: "";
                      width: 35px;
                      height: 2px;
                      background-color: $secondaryColor;
                      position: absolute;
                      left: -50px;
                      top: 50%;
                    }
                  }
                }
              }
            }
            &:last-of-type {
              display: flex;
              justify-content: space-between;
              > div {
                display: flex;
                flex-direction: column;
                > p {
                  margin-top: 16px;
                  font-family: $pfont;
                  font-size: 14px;
                }
              }
              > figure {
                margin-top: 40px;
                width: 80px;
                > img {
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        > div {
          &:first-of-type {
            width: 550px;
          }
          &:last-of-type {
            width: 380px;
          }
          // @extend %bt;
        }
      }
      > a {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 112px;
        height: 112px;
        background-image: url(../img/bottom-arrow.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.07);
        border-radius: 50%;
        background-color: #fff;
      }
    }
    &:nth-of-type(2) {
      padding: 160px 20px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      > * {
        width: 1130px;
        margin: 0 auto;
      }
      > h2 {
        font-size: 95px;
        font-family: $pfont;
        margin-bottom: 40px;
        font-weight: 900;
        line-height: 105px;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        > span {
          font-family: $secondaryFont;
          font-size: 16px;
          position: absolute;
          font-weight: 300;
          top: -27px;
          left: 43px;
        }
      }
      > div {
        display: flex;
        justify-content: space-between;
        > ul {
          width: 350px;
          height: 450px;
          margin-top: 30px;
          > li {
            font-family: $pfont;
            line-height: 28px;
            margin-bottom: 24px;
            position: relative;
            > h4,
            > p {
              margin-bottom: 10px;
            }
            margin-bottom: 10px;
            > h4 {
              font-weight: 200;
              font-size: 22px;
              text-transform: uppercase;
            }
            > p {
              overflow: hidden;
              height: 0;
              font-size: 16px;
            }
            > span {
              width: 24px;
              height: 2px;
              position: absolute;
              left: -100px;
              top: 9px;
              background-color: $secondaryColor;
            }
            &:nth-of-type(1) {
              > p {
                animation: graphp1 15s linear infinite;
              }
              > span {
                animation: graphspan1 15s linear infinite;
              }
            }
            &:nth-of-type(2) {
              > p {
                animation: graphp2 15s linear infinite;
              }
              > span {
                animation: graphspan2 15s linear infinite;
              }
            }
            &:nth-of-type(3) {
              > p {
                animation: graphp3 15s linear infinite;
              }
              > span {
                animation: graphspan3 15s linear infinite;
              }
            }
          }
        }
        > figure {
          position: relative;
          width: 625px;
          margin-right: -60px;
          background-color: $primaryColor;
          > figcaption {
            top: 32px;
            left: 32px;
            font-family: $secondaryFont;
            background-color: #fff;
            position: absolute;
            color: $secondaryColor;
            padding: 20px 32px;
            text-align: center;
            font-size: 16px;
            > span {
              font-size: 40px;
              font-weight: bolder;
            }
          }
          > img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 0;
            height: 504px;
            animation: imgExtend 15s linear infinite;
            object-position: -10px 50%;
            opacity: 0;
          }
        }
      }
    }
    &:nth-of-type(3) {
      padding: 160px 0px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      > * {
        // width: 1130px;
        margin: 0 auto;
      }
      > h2 {
        font-size: 95px;
        font-family: $pfont;
        margin-bottom: 40px;
        font-weight: 900;
        line-height: 105px;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        > span {
          font-family: $secondaryFont;
          font-size: 16px;
          position: absolute;
          font-weight: 300;
          top: -24px;
          left: 8px;
        }
      }
      > div {
        width: 100%;
        display: flex;
        margin-top: 50px;
        overflow: hidden;
        > div {
          width: 50%;
          &:first-of-type {
            display: flex;
            justify-content: flex-end;
            position: relative;
            > div {
              &:first-of-type {
                display: flex;
                position: relative;
                width: 260px;
                flex-direction: row-reverse;
                > div {
                  width: 260px;
                  padding: 32px;
                  position: absolute;
                  background-color: $primaryColor;
                  height: 320px;
                  > h4 {
                    font-family: $primaryFont;
                    text-transform: uppercase;
                    font-size: 26px;
                    margin-bottom: 64px;
                    font-weight: 400;
                  }
                  > p {
                    font-family: $pfont;
                    color: rgba(6, 6, 2, 0.7);
                    font-size: 15px;
                    margin-top: -5px;
                  }
                  &::before {
                    content: "";
                    width: 24px;
                    height: 100%;
                    background-color: #fff;
                    position: absolute;
                    left: -24px;
                    top: 0;
                    z-index: 2;
                  }
                  &:nth-of-type(1) {
                    animation: smSlider1 25s linear infinite;
                    right: 0;
                  }
                  &:nth-of-type(2) {
                    animation: smSlider2 25s linear infinite;
                    right: 100%;
                  }
                  &:nth-of-type(3) {
                    animation: smSlider3 25s linear infinite;
                    right: 200%;
                  }
                  &:nth-of-type(4) {
                    animation: smSlider4 25s linear infinite;
                    right: 300%;
                  }
                  &:nth-of-type(5) {
                    animation: smSlider5 25s linear infinite;
                    right: 400%;
                  }
                }
              }
              &:last-of-type {
                width: 340px;
                display: flex;
                background-color: $primaryColor;
                padding-left: 48px;
                z-index: 3;
                position: relative;
                > div {
                  padding: 32px;
                  width: 340px;
                  z-index: -1;
                  > h4 {
                    font-family: $primaryFont;
                    text-transform: uppercase;
                    font-size: 26px;
                    font-weight: 400;
                    margin-bottom: 45px;
                  }
                  > div {
                    font-family: $pfont;
                    width: 160px;

                    > span {
                      display: block;
                      margin-bottom: 16px;
                      font-size: 50px;
                      font-weight: 900;
                      text-transform: uppercase;
                    }
                    > p {
                      color: rgba(6, 6, 2, 0.7);
                      font-size: 15px;
                      &:first-of-type {
                        margin-bottom: 40px;
                      }
                      &:last-of-type {
                        margin-bottom: 10px;
                      }
                    }
                  }
                  > * {
                    width: 340px;
                  }
                  &:first-of-type {
                    z-index: 1;
                  }
                }
                &::before {
                  content: "";
                  width: 24px;
                  height: 100%;
                  background-color: #fff;
                  position: absolute;
                  left: 0px;
                  top: 0;
                  z-index: 4;
                }
              }
            }
            > span {
              position: absolute;
              bottom: 24px;
              right: 24px;
              color: black;
              z-index: 3;
              font-size: 17px;
              font-weight: 700;
              font-family: $primaryFont;
              &::before {
                content: "1";
              }
            }
          }
          &:last-of-type {
            padding-left: 160px;
          }
        }
      }
    }
  }
  > .brand-band {
    position: relative;
    padding: 80px 20px;
    overflow: hidden;
    > div {
      &:first-of-type {
        background-image: url(../img/brands.svg);
        background-repeat: repeat-x;
        background-position: 0 50%;
        animation: logoSlider 12000s linear infinite;
        margin: 0 -20px;
        background-size: auto;
        height: 46px;
      }

      &:last-of-type {
        position: absolute;
        overflow: hidden;
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 192px;
        height: 192px;
        > * {
          position: absolute;
          top: 0;
          left: 0;
        }
        > figure {
          &:last-of-type {
            transform: rotate(0deg);
            animation: brandSpin 12000s linear infinite;
          }
        }
      }
    }
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spinHover {
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@keyframes graphspan1 {
  0%,
  34% {
    width: 24px;
  }
  2%,
  32% {
    width: 40px;
  }
}
@keyframes graphp1 {
  0%,
  34% {
    height: 0px;
  }
  2%,
  32% {
    height: 115px;
  }
}
@keyframes graphspan2 {
  0%,
  32%,
  68% {
    width: 24px;
  }
  34%,
  66% {
    width: 40px;
  }
}
@keyframes graphp2 {
  0%,
  32%,
  68% {
    height: 0px;
  }
  34%,
  66% {
    height: 82px;
  }
}
@keyframes graphspan3 {
  0%,
  66%,
  100% {
    width: 24px;
  }
  68%,
  98% {
    width: 40px;
  }
}
@keyframes graphp3 {
  0%,
  66%,
  100% {
    height: 0px;
  }
  68%,
  98% {
    height: 115px;
  }
}
@keyframes imgExtend {
  0% {
    width: 0;
    opacity: 0;
  }
  2%,
  32% {
    width: 285px;
    opacity: 1;
  }
  34%,
  66% {
    width: 526px;
  }
  68%,
  100% {
    width: 625px;
    opacity: 1;
  }
}
@keyframes logoSlider {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: -500000px 50%;
  }
}
@keyframes brandSpin {
  to {
    transform: rotate(180000deg);
  }
}
@keyframes smSlider1 {
  0% {
    right: 0%;
  }
  1% {
    right: -100%;
  }
  1.00000000000001% {
    right: 400%;
  }
  19% {
    right: 400%;
  }
  21% {
    right: 300%;
  }
  39% {
    right: 300%;
  }
  41% {
    right: 200%;
  }
  59% {
    right: 200%;
  }
  61% {
    right: 100%;
  }
  79% {
    right: 100%;
  }
  81% {
    right: 0%;
  }
  99% {
    right: 0%;
  }
}
@keyframes smSlider2 {
  0% {
    right: 100%;
  }
  1% {
    right: 0%;
  }
  19% {
    right: 0%;
  }
  21% {
    right: -100%;
  }
  21.0000000000001% {
    right: 400%;
  }
  39% {
    right: 400%;
  }
  41% {
    right: 300%;
  }
  59% {
    right: 300%;
  }
  61% {
    right: 200%;
  }
  79% {
    right: 200%;
  }
  81% {
    right: 100%;
  }
  99% {
    right: 100%;
  }
}
@keyframes smSlider3 {
  0% {
    right: 200%;
  }
  1% {
    right: 100%;
  }
  19% {
    right: 100%;
  }
  21% {
    right: 0%;
  }
  39% {
    right: 0%;
  }
  41% {
    right: -100%;
  }
  41.0000000000001% {
    right: 400%;
  }
  59% {
    right: 400%;
  }
  61% {
    right: 300%;
  }
  79% {
    right: 300%;
  }
  81% {
    right: 200%;
  }
  99% {
    right: 200%;
  }
}
@keyframes smSlider4 {
  0% {
    right: 300%;
  }
  1% {
    right: 200%;
  }
  19% {
    right: 200%;
  }
  21% {
    right: 100%;
  }
  39% {
    right: 100%;
  }
  41% {
    right:  0%;
  }
  59% {
    right: 0%;
  }
  61% {
    right: -100%;
  }
  61.0000000000001% {
    right: 400%;
  }
  79% {
    right: 400%;
  }
  81% {
    right: 300%;
  }
  99% {
    right: 300%;
  }
}
@keyframes smSlider5 {
  0% {
    right: 400%;
  }
  1% {
    right: 300%;
  }
  19% {
    right: 300%;
  }
  21% {
    right: 200%;
  }
  39% {
    right: 200%;
  }
  41% {
    right: 100%;
  }
  59% {
    right: 100%;
  }
  61% {
    right: 0%;
  }
  79% {
    right: 0%;
  }
  81% {
    right: -100%;
  }
  81.0000000000001% {
    right: 400%;
  }
  99% {
    right: 400%;
  }
}
// @keyframes lgSlider1 {
// }
// @keyframes lgSlider2 {
// }
// @keyframes lgSlider3 {
// }
// @keyframes lgSlider4 {
// }
// @keyframes lgSlider5 {
// }
